[Unit]
Description=Samaris OS Desktop (Electron)
After=volt-display-manager.service volt-kernel.service
Requires=volt-kernel.service
Wants=graphical.target

[Service]
Type=simple
User=user
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/user/.Xauthority
Environment=HOME=/home/user
ExecStartPre=/bin/sleep 1
ExecStart=/usr/local/bin/volt-desktop
Restart=on-failure
RestartSec=3
TimeoutStopSec=10

[Install]
WantedBy=graphical.target
